# Visual Studio cache and configuration
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Archivos temporales de Visual Studio
*.cache
*.backup
*.bak
*.log
*.vscode/
DocumentLayout.json
DocumentLayout.backup.json

# Build results
[Bb]in/
[Oo]bj/
